{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-lg-4 col-md-6">
            <div>
                <h2 class="my-4 text-danger">About Us</h2>
                <img class="img-fluid" src="https://livedemo00.template-help.com/wt_47644/img/page2_pic1.jpg" alt="img">
                <h6 class="font-weight-bold mt-2">Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi,
                    aliquet sit amet, euismod in, auctor ut, ligula.</h6>
                <p class="my-2" style="font-size: 12px;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus
                    ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut,
                    ligula. Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim,
                    pulvinar ac, lorem.</p>
                <div class="my-4">
                    <button class="btn w-50" style="color: white;background-color: #8fbf56;padding: 8px;">Learn
                        More</button>
                </div>
            </div>

        </div>
        <div class="col-12 col-lg-4 col-md-6">
            <h2 class="my-4 text-danger">Why Choose Us ?</h2>
            <div class="d-flex my-3">
                <div class="mr-2">
                    <h2 style="color: green;">1.</h2>
                </div>
                <div>
                    <h6 class="mt-3 font-weight-bold">Aliquam dapibus tincidunt metus</h6>
                    <p style="font-size: 12px;">Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet.
                        Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus
                        tincidunt metus. Praesent justo dolor, lobortis quis, lobortis.</p>
                </div>
            </div>
            <div class="d-flex my-3">
                <div class="mr-2">
                    <h2 style="color: green;">2.</h2>
                </div>
                <div>
                    <h6 class="mt-3 font-weight-bold">Praesent justo dolor</h6>
                    <p style="font-size: 12px;">Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet.
                        Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus
                        tincidunt metus. Praesent justo dolor, lobortis quis, lobortis.</p>
                </div>
            </div>
            <div class="d-flex my-3">
                <div class="mr-2">
                    <h2 style="color: green;">3.</h2>
                </div>
                <div>
                    <h6 class="mt-3 font-weight-bold">Donec sagittis euismod purus</h6>
                    <p style="font-size: 12px;">Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet.
                        Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus
                        tincidunt metus. Praesent justo dolor, lobortis quis, lobortis.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 col-md-6">
            <h2 class="my-4 text-danger">Our Staff</h2>
            <div class="row">
                <div class="col-6 col-lg-6 my-2">
                    <img class="img-fluid" src="https://livedemo00.template-help.com/wt_47644/img/page2_pic2.jpg"
                        alt="">
                </div>
                <div class="col-6 col-lg-6 my-2">
                    <img class="img-fluid" src="https://livedemo00.template-help.com/wt_47644/img/page2_pic3.jpg"
                        alt="">
                </div>
                <div class="col-6 col-lg-6 my-2">
                    <img class="img-fluid" src="https://livedemo00.template-help.com/wt_47644/img/page2_pic4.jpg"
                        alt="">
                </div>
                <div class="col-6 col-lg-6 my-2">
                    <img class="img-fluid" src="https://livedemo00.template-help.com/wt_47644/img/page2_pic5.jpg"
                        alt="">
                </div>
                <div class="col-6 col-lg-6 my-2">
                    <img class="img-fluid" src="https://livedemo00.template-help.com/wt_47644/img/page2_pic6.jpg"
                        alt="">
                </div>
                <div class="col-6 col-lg-6 my-2">
                    <img class="img-fluid" src="https://livedemo00.template-help.com/wt_47644/img/page2_pic7.jpg"
                        alt="">
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container">
    <h2 class="text-danger">Testimonials</h2>
    <div class="row">
        <div class="col-12 col-lg-3 col-md-6 my-2">
            <div class="my-3">
                <p style="font-size: 12px;">Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet.
                    Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus
                    tincidunt metus. Praesent justo dolor, lobortis quis, lobortis.</p>

                <h5 class="my-2 font-weight-bold">Mark Johnson</h5>
            </div>
        </div>
        <div class="col-12 col-lg-3 col-md-6 my-2">
            <div class="my-3">
                <p style="font-size: 12px;">Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet.
                    Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus
                    tincidunt metus. Praesent justo dolor, lobortis quis, lobortis.</p>

                <h5 class="my-2 font-weight-bold">Ivana Wong</h5>
            </div>
        </div>
        <div class="col-12 col-lg-3 col-md-6 my-2">
            <div class="my-3">
                <p style="font-size: 12px;">Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet.
                    Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus
                    tincidunt metus. Praesent justo dolor, lobortis quis, lobortis.</p>

                <h5 class="my-2 font-weight-bold">John Franklin</h5>
            </div>
        </div>
        <div class="col-12 col-lg-3 col-md-6 my-2">
            <div class="my-3">
                <p style="font-size: 12px;">Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet.
                    Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus
                    tincidunt metus. Praesent justo dolor, lobortis quis, lobortis.</p>

                <h5 class="my-2 font-weight-bold">Gloria Mann</h5>
            </div>
        </div>

    </div>

</div>
</div>
{% endblock %}