{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8 col-md-6 my-2">
            <h2 class="my-4 text-danger">Blog</h2>
            <div class="row">
                <div class="col-12 col-lg-6 my-2">
                    <div>
                        <img class="img-fluid" src="https://livedemo00.template-help.com/wt_47644/img/page4_pic1.jpg" alt="">
                    </div>
                </div>
                <div class="col-12 col-lg-6 my-2">
                    <h5 class="font-weight-bold">Sed in lacus ut enim adipiscing aliquet</h5>
                    <p class="text-muted" style="font-size: 12px;">December 17, 2013</p>
                    <p class="my-3" style="font-size: 12px;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                        Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla veldi am. Sed in
                        lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in,
                        auctor ut, ligula.</p>
                    <div class="my-4">
                        <button class="btn w-50 blog-btn" style="color: white;background-color: #8fbf56;padding: 8px;">Learn
                            More</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 col-md-6 my-2">
            <h2 class="my-4 text-danger">Categories</h2>
            <div class="">
                <li><p>Lorem ipsum dolor sit amet.</p></li>
                <li><p>Lorem ipsum dolor sit amet.</p></li>
                <li><p>Lorem ipsum dolor sit amet.</p></li>
                <li><p>Lorem ipsum dolor sit amet.</p></li>
                <li><p>Lorem ipsum dolor sit amet.</p></li>
            </div>
            <h2 class="mt-5 text-danger">Archive</h2>
            <div class="mt-3">
                <li><p>March, 2013</p></li>
                <li><p>April, 2013</p></li>
                <li><p>May, 2013</p></li>
            </div>
        </div>

    </div>
</div>
{% endblock %}