{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}
<div>
    <h2 class="text-center p-4 text-danger font-weight-bold">Contact Page</h2>
    <div class="row justify-content-center" style="margin: 0px ; padding:0px">
        <div class="col-lg-7">
            <div class="mapouter">
                <div class="gmap_canvas"><iframe width="722" height="333" id="gmap_canvas"
                        src="https://maps.google.com/maps?q=dhanmondi%2027&t=&z=11&ie=UTF8&iwloc=&output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                        href="https://2piratebay.org"></a><br>
                    <style>
                        .mapouter {
                            position: relative;
                            text-align: right;
                            height: 333px;
                            width: 900px;
                        }
                    </style><a href="https://www.embedgooglemap.net">embedgooglemap.net</a>
                    <style>
                        .gmap_canvas {
                            overflow: hidden;
                            background: none !important;
                            height: 333px;
                            width: 722px;
                        }
                    </style>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
          <div class="col-lg-7">
            <h1 class="text-center text-danger mt-4">Send Your Feedback</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success">Send Feedback</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}